.boxM{
    height: 20%;
    width: 50%;
position: relative;
margin: 10% 20% 1% 22% ;
border-style: groove;
border-style: none;
border-color: rgb(13, 14, 13);
border-width: 20%;
background-color: black;
padding: 5% 5% 5% 15%;
}

#txt{
    color:white;
    width:fit-content;
    font-size: 300%;
}
button{
    width: 5%;
    color:bisque;
    margin-left: 40%;
    border-style:hidden;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 background-color:rgb(32, 135, 54);
}


